/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Головне меню ЕД. */

.df-main-menu {
	margin: 10px 10px 0px 20px;
}

.df-main-menu div {
	display: inline-block;
	padding: 4px 4px 4px 4px;
	margin: 0px 0px 5px 0px;
	text-align: center;
	background-color: rgb(243, 243, 233);
}

.df-main-menu div:hover {
	/* background-color: rgb(249, 249, 244); */
	border-left: 5px solid;
	border-left-color: rgb(158, 217, 233);
}

.df-main-menu div a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 18px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Головне меню (1) типів документів. */

.df-document-types-menu_1 {
	padding: 20px 10px 0px 30px;
}

.df-document-types-menu_1 div {
	margin: 0px 0px 10px 0px;
}

.df-document-types-menu_1 div a {
	font-size: 18px;
	text-decoration: none;
}

.df-document-types-menu_1 div a:hover {
	color: #0400ff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Список типів документів на сторінці /df/document-types/list. */

.df-dt_list {
	padding: 10px 10px 0px 20px;
}

.df-dt_list .dt-data {
	padding: 0px 0px 10px 0px;
}

.df-dt_list .dt-data .dt-name {
	display: inline-block;
	width: 300px;
}

.df-dt_list .dt-data .dt-name a {
	font-size: 18px;
	text-decoration: none;
}

.df-dt_list .dt-data .dt-control-buttons {
	display: inline-block;
	width: 100px;
}

.df-dt_list .dt-data .dt-control-buttons {
	display: inline-block;
	width: 100px;
}

.df-dt_list .dt-data .dt-control-buttons .img-button {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.df-dt_list .dt-data .dt-control-buttons .img-button:hover {
	border-radius: 10px;
	box-shadow: #2f1fd8 1px 0 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Журнал документів. */

.document-list {
	padding: 10px 10px 0px 10px;
	font-size: 18px;
	/* border: silver 1px solid; */
}

.document-list .doc-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0px 0px 10px 0px;
	border: silver 1px solid;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 1200px) {
  .document-list .doc-header {
		display: none;
	}
}

.document-list .header-num, .header-title, .header-date, .header-number, .header-executor,
.header-resolution, .header-location {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
	font-weight: bolder;
	/* border: silver 1px solid; */
}

.document-list .header-num {
	width: 40px;
}

.document-list .header-title {
	width: 280px;
}

.document-list .header-date {
	width: 100px;
}

.document-list .header-number {
	width: 140px;
}

.document-list .header-executor {
	width: 160px;
}

.document-list .header-resolution {
	width: 160px;
}

.document-list .header-location {
	width: 270px;
}

.document-list .doc-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 10px 0px;
	font-size: 18px;
	background-color: #f0f0f0;
	/* border: silver 1px solid; */
}

.document-list .doc-block:hover {
	background-color: #f4f3ed;
}

.document-list .doc-num, .doc-title, .doc-title a, .doc-date, .doc-number, .doc-executor,
.doc-resolution, .doc-location {
	display: flex;
	align-items: center;
	height: auto;
	/* border: silver 1px solid; */
}

.document-list .doc-num {
	justify-content: center;
	text-align: center;
	width: 40px;
}

.document-list .doc-title {
	padding-left: 5px;
	width: 280px;
}

.document-list .doc-title a {
	width: 100%;
	color: rgb(3, 0, 198);
	text-decoration: none;
}

.document-list .doc-title a:hover {
	color: #9c0683;
	background-color: #fffef8;
}

.document-list .doc-date {
	justify-content: center;
	width: 100px;
}

.document-list .doc-number {
	justify-content: center;
	width: 140px;
}

.document-list .doc-executor {
	justify-content: center;
	width: 160px;
}

.document-list .doc-resolution {
	padding-left: 5px;
	width: 160px;
}

.document-list .doc-location {
	padding-left: 5px;
	width: 270px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма додавання нового типу документів. */

.form-add_dt {
	display: inline-block;
	padding: 20px 10px 0px 20px;
	width: 400px;
}

.form-add_dt div {
	padding-bottom: 20px;
}

.form-add_dt .dt-type_name {
	display: inline-block;
	width: 100%;
	height: 48px;
	font-size: 20px;
}

.form-add_dt label {
	display: inline-block;
	width: 100%;
}

.form-add_dt textarea {
	display: inline-block;
	width: 400px;
	height: 200px;
}

.form-add_dt button {
	display: inline-block;
	width: 100px;
	cursor: pointer;
	font-size: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Блок вибору джерела документа для реєстрації. */

.df-selecting_source_document {
	padding: 20px 0px 0px 30px;
}

.df-selecting_source_document div {
	display: inline-block;
	width: 100%;
	margin: 0px 0px 20px 0px;
}

.df-selecting_source_document div a {
	display: inline-block;
	width: 250px;
	text-decoration: none;
	font-size: 26px;
	padding-left: 40px;
	background-color: rgb(236, 249, 247);
}

.df-selecting_source_document div a:hover {
	background-color: rgb(220, 247, 243);
	border: #0400ff 1px solid;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма реєстрації вхідного документа. */

.df-fm-reg_incoming_document {
	padding: 0px 0px 0px 20px;
}

.df-fm-reg_incoming_document form {
	display: inline-block;
	width: 400px;
}

.df-fm-reg_incoming_document .label_block {
	padding-top: 20px;
}

.label_block label {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

.label_block input[type=date] {
	display: inline-block;
	font-size: 20px;
}

.label_block select {
	display: inline-block;
	font-size: 20px;
	width: 100%;
}

.df-fm-reg_incoming_document .bt_add button {
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	width: 300px;
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма реєстрації вхідного документа на сторінкі 'df/document-registration/incoming'. */

.fm_ad-incoming-document {

}

.fm_ad-incoming-document #dControlTerm {
	display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Журнал документів на сторінкі 'df'. */

.menu-journal-1 {
	display: inline-block;
	width: 100%;
	border-top: 1px solid black;
	background-color: #f0f0f0;
	text-align: center;
}

.menu-journal-1 .elem {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.menu-journal-1 .elem a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.menu-journal-1 .elem:hover {
	background-color: #cdc9c9;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Картка документа. */

.document-card {
	font-size: 18px;
}

.document-card .card-header {
	display: inline-block;
	width: 250px;
	font-weight: bold;
}
