/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Головне меню Документів. */

.df-main-menu {
	margin: 10px 10px 0px 20px;
}

.df-main-menu div {
	display: inline-block;
	padding: 4px 4px 4px 4px;
	margin: 0px 0px 5px 0px;
	text-align: center;
	background-color: rgb(243, 243, 233);
}

.df-main-menu div:hover {
	/* background-color: rgb(249, 249, 244); */
	border-left: 5px solid;
	border-left-color: rgb(158, 217, 233);
}

.df-main-menu div a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 18px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Головне меню (1) типів документів. */

.df-document-types-menu_1 {
	padding: 20px 10px 0px 30px;
}

.df-document-types-menu_1 div {
	margin: 0px 0px 10px 0px;
}

.df-document-types-menu_1 div a {
	font-size: 18px;
	text-decoration: none;
}

.df-document-types-menu_1 div a:hover {
	color: #0400ff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Список типів документів на сторінці /df/document-types/list. */

.df-dt_list {
	padding: 10px 10px 0px 20px;
}

.df-dt_list .dt-data {
	padding: 0px 0px 10px 0px;
}

.df-dt_list .dt-data .dt-name {
	display: inline-block;
	width: 300px;
}

.df-dt_list .dt-data .dt-name a {
	font-size: 18px;
	text-decoration: none;
}

.df-dt_list .dt-data .dt-control-buttons {
	display: inline-block;
	width: 100px;
}

.df-dt_list .dt-data .dt-control-buttons {
	display: inline-block;
	width: 100px;
}

.df-dt_list .dt-data .dt-control-buttons .img-button {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.df-dt_list .dt-data .dt-control-buttons .img-button:hover {
	border-radius: 10px;
	box-shadow: #2f1fd8 1px 0 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Журнал документів. */

.doc_list {
	font-size: 20px;
	padding: 5px 10px 0px 15px;
}

.doc_list .tbl-menu {
	margin-bottom: 5px;
}

.doc_list .h-num {
	width: 40px;
}

.doc_list .h-title {
	width: 380px;
}

.doc_list .h-date {
	width: 140px;
}

.doc_list .h-d_num {
	width: 160px;
}

.doc_list .h-executon_user {
	width: 210px;
}

.doc_list .h-resolution {
	width: 230px;
}

.doc_list .tbl-header {
	margin-bottom: 7px;
	background-color: #f0f0f0;
}

.doc_list .tbl-tr {
	margin-bottom: 7px;
}

.doc_list .tbl-tr:nth-child(odd) {
	background-color: #f6f3f3;/* фон нечетных строк */
}

/* .img-btn для тега a */
.doc_list .img-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.doc_list .d_title {
	display: flex;
	align-items: center;
	width: 420px;
	/* border: silver 1px solid; */
}

.doc_list .num {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	/* border: silver 1px solid; */
}

.doc_list .del-checkbox {
	display: flex;
  cursor: pointer;
	accent-color: red;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	/* border: silver 1px solid; */
}

.doc_list .d_title a {
	display: flex;
	padding: 3px 3px 3px 3px;
	text-decoration: none;
	width: 340px;
	/* border: silver 1px solid; */
}

.doc_list .d_title .img-btn {
	display: flex;
	padding: 3px 3px 3px 3px;
	text-decoration: none;
	width: 35px;
	/* border: silver 1px solid; */
}

.doc_list .d_date {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 140px;
	/* border: silver 1px solid; */
}

.doc_list .doc_num {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2px;
	width: 160px;
}

.doc_list .d_executor {
	align-items: center;
	justify-content: center;
	margin-left: 2px;
	width: 210px;
}

.doc_list .d_executor a {
	text-decoration: none;
}

.doc_list .d_resolution {
	align-items: center;
	justify-content: center;
	width: 230px;
}

@media (max-width: 1200px) {
	.doc_list .tbl-tr {
		flex-wrap: wrap;
		margin-bottom: 15px;
		border-radius: 15px;
		background-color: #f0f0f0;
		box-shadow: 5px 5px 5px #dce3e5;
	}

	.doc_list .d_title, .doc_list .d_date, .doc_list .doc_num, .doc_list .d_executor,
	.doc_list .d_resolution {
		width: 100%;
	}

	.doc_list .doc_num {
		margin: 0px 4px 3px 4px;
	}

	.doc_list .d_executor {
		margin: 0px 4px 0px 4px;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма додавання нового типу документів. */

.form-add_dt {
	display: inline-block;
	padding: 20px 10px 0px 20px;
	width: 400px;
}

.form-add_dt div {
	padding-bottom: 20px;
}

.form-add_dt .dt-type_name {
	display: inline-block;
	width: 100%;
	height: 48px;
	font-size: 20px;
}

.form-add_dt label {
	display: inline-block;
	width: 100%;
}

.form-add_dt textarea {
	display: inline-block;
	width: 400px;
	height: 200px;
}

.form-add_dt button {
	display: inline-block;
	width: 100px;
	cursor: pointer;
	font-size: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Блок вибору джерела документа для реєстрації. */

.df-selecting_source_document {
	text-align: center;
}

.df-selecting_source_document div {
	display: inline-block;
	width: 100%;
	margin: 0px 0px 20px 0px;
}

.df-selecting_source_document div a {
	display: inline-block;
	width: 300px;
	text-decoration: none;
	font-size: 26px;
	padding: 10px 20px 10px 20px;
	color: #2f2f2f;
	background-color: #ebebeb;
	border-radius: 15px;
}

.df-selecting_source_document div a:hover {
	background-color: #d3d3d3;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма реєстрації вхідного документа. */

.df-fm-reg_incoming_document {
	padding: 0px 0px 0px 20px;
}

.df-fm-reg_incoming_document form {
	display: inline-block;
	width: 400px;
}

.df-fm-reg_incoming_document .label_block {
	padding-top: 20px;
}

.label_block label {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

.label_block input[type=date] {
	display: inline-block;
	font-size: 20px;
}

.label_block select {
	display: inline-block;
	font-size: 20px;
	width: 100%;
}

.df-fm-reg_incoming_document .bt_add button {
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	width: 300px;
	cursor: pointer;
}

.label_block .file-downloadLink {
	text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Форма реєстрації вхідного документа на сторінкі 'df/document-registration/incoming'. */

.fm_ad-incoming-document {

}

.fm_ad-incoming-document #dControlTerm {
	display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Журнал документів на сторінкі 'df'. */

.menu-journal-1 {
	display: inline-block;
	width: 100%;
	border-top: 1px solid black;
	background-color: #f0f0f0;
	text-align: center;
	font-size: 18px;
}

.menu-journal-1 .elem {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.menu-journal-1 .elem a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.menu-journal-1 .elem:hover {
	background-color: #dddbdb;
}

.menu-journal-1 .elem a:hover {
	color: #000000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Картка документа. */

.document-card {
	font-size: 18px;
	margin-top: 10px;
}

.document-card .card-header {
	display: inline-block;
	width: 250px;
	font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Список звіту користувачів, які не виконали документи. */

.user-list {
	padding: 10px 10px 0px 10px;
	font-size: 18px;
}

.user-list .doc-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	background-color: #e8e8e8;
}

.user-list .header-num {
	justify-content: center;
	text-align: center;
	width: 35px;
}

.user-list .header-login {
	justify-content: center;
	text-align: center;
	width: 160px;
	/* border: silver 1px solid; */
}

.user-list .header-count {
	justify-content: center;
	text-align: center;
	width: 120px;
	/* border: silver 1px solid; */
}

.user-block {
	display: flex;
	justify-content: flex-start;
	padding: 5px 0px 5px 0px;
	align-items: center;
	font-size: 20px;
	border-bottom: silver 1px solid;
}

.user-block .num {
	justify-content: center;
	text-align: center;
	width: 35px;
}

.user-block .num {
	justify-content: center;
	width: 35px;
}

.user-block .login {
	width: 160px;
}

.user-block .count {
	justify-content: center;
	text-align: center;
	width: 120px;
}

/* Адаптивный дизайн для мобильных устройств. */
@media (max-width: 1200px) {
  .user-list .doc-header {
		display: none;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Коментарі до картки документа. */

.fm_ad-card-comment .bt_add {
	text-align: center;
}

.fm_ad-card-comment .bt_add button {
	display: inline-block;
	width: 90%;
	height: 30px;
  padding: 4px 4px 4px 4px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fm_ad-card-comment .bt_add button:hover {
  background-color: #0056b3;
}

.fm_ad-card-comment .bt_add button:active {
  background-color: #004494;
}

.doc-card-comments {

}

.doc-card-comments .comment-item {
	background-color: #f3f3f3;
	padding: 5px 5px 5px 5px;
	border-radius: 7px;
}

.doc-card-comments .comment-info {
	border-bottom: silver 1px solid;
	margin-bottom: 5px;
	font-size: 14px;
	color: gray;
}
